@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  /* colors */
  --darkBlue: #2c343e;
  --darkCyan: #0e8784;
  --btnHover: #66d2cf;
  --btnDisabled: #e2dedb;
  --darkGreyBlue: #333d4b;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --grey: #83888f;
  /* Font Weights */
  --weight-regular: 400;
  --weight-semiBold: 700;
  --weight-bold: 900;
  /* transition */
  --transition: 300ms ease;
  /* Typography */
  --sans-serif: "Barlow", sans-serif;
  --serif: "Fraunces", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-serif);
  font-weight: var(--weight-regular);
  background: var(--lightCream);
  color: var(--darkBlue);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 375px) {
  .logo {
    max-width: 16.4rem;
  }
}
